.headerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0 5%;
  margin: 24px 0;
  .logo {
    p {
      margin: 0;
      font-size: 24px;
    }
  }
  .navWrapper {
    .navLink {
      font-size: 16px;
      text-decoration: none;
      color: white;
      padding:6px 12px;
      margin: 0;
      position: relative;
      display: inline-block;
      transition: transform 0.2s ease;
      &:hover {
        color: #db752b;
      }

      @media screen and (min-width: 1024px) {
        &::after {
          content: "";
          display: block;
          width: 6px;
          height: 6px;
          background-color: #db752b;
          position: absolute;
          bottom: -5px;
          left: 50%;
          transform: translateX(-50%);
          border-radius: 50%;
          opacity: 0;
          transition: opacity 0.3s;
        }
        &.active {
          color: #db752b;
          font-weight: bold;
          &::after {
            opacity: 1;
          }
          transform: translateY(-5px);
        }
      }
    }
  }
}
